# VacationPy
---

## Starter Code to Import Libraries and Load the Weather and Coordinates Data

In [21]:
# Dependencies and Setup
import hvplot.pandas
import pandas as pd
import requests
import numpy as np

# Import API key
from api_keys import geoapify_key

In [22]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
city_data_df = pd.read_csv("output_data/cities.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Date,Latitude,Longitude,Cloudiness (%),Humidity (%),Max Temp (F),Wind Speed (mph)
0,0,tiksi,RU,2023-11-11 11:12:07,71.6872,128.8694,100.0,87.0,11.768,7.93
1,1,kafue,ZM,2023-11-11 11:18:18,-15.7691,28.1814,55.0,37.0,77.036,2.81
2,2,aasiaat,GL,2023-11-11 11:13:06,68.7098,-52.8699,100.0,76.0,10.796,3.07
3,3,villa de leyva,CO,2023-11-11 11:18:18,5.6450,-73.5667,93.0,64.0,72.572,1.74
4,4,waitangi,NZ,2023-11-11 11:11:51,-43.9535,-176.5597,22.0,90.0,52.088,0.45

In [45]:
city_data_df["City"]

0               tiksi
1               kafue
2             aasiaat
3      villa de leyva
4            waitangi
            ...
610             kroya
611          bandrele
612        magdagachi
613          sinabang
614       mujiayingzi
Name: City, Length: 615, dtype: object

In [33]:
print(city_data_df['Humidity (%)'].unique())

[ 87.  37.  76.  64.  90.  73.  98.  78.  62.  55. 100.  56.  83.  84.
  92.  86.  79.  66.  81.  88.  94.   0.  85.  97.  46.  61.  77.  89.
  17.  65.  43.  48.  80.  93.  63.  58.  33.  59.  36.  74.  28.  71.
  45.  69.  52.  96.  75.  44.  15.  23.  12.  70.  95.  99.  68.  20.
  47.   7.  24.  57.  25.  14.  29.  32.  34.  35.  49.  38.  39.  21.
  13.  31.  51.  72.  67.  41.  54.  16.  18.  19.  27.  91.  82.  60.
  42.  22.  53.  30.   9.  26.]

---

### Step 1: Create a map that displays a point for every city in the `city_data_df` DataFrame. The size of the point should be the humidity in each city.

In [43]:

# Configure the map plot
map_plot_1 = city_data_df.hvplot.points(
    "Longitude",
    "Latitude",
    geo=True,
    tiles="OSM",
    frame_width=800,
    frame_height=700,
    color="City"
)

# Display the map
map_plot_1

:Overlay
   .WMTS.I   :WMTS   [Longitude,Latitude]
   .Points.I :Points   [Longitude,Latitude]   (City)